html,body 
{
  margin:0;
}
.titulo
{
	background-color:#3AAFA9;
	text-align: center;
	height: 100vh;
	width: 100%;
	line-height: normal;
}
h1
{
	font-family: 'Kanit', Arial, sans-serif;
    color:#ffffff;
    font-size: 68px;
    letter-spacing: 4px; 
}
h2
{
	font-family: 'Kanit', Arial, sans-serif;
	color:#17252a;
	font-size: 34px;
}
.acerca
{
	background-color:#ffffff;
}